*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    line-height: 1;
}

a:hover,
button:hover {
    opacity: 0.66;
}

button {
    cursor: pointer;
}
