.logo,
.white-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo__text,
.white-logo__text {
    margin: 0 5px;

    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 12px;
    line-height: 1.333em;
    letter-spacing: 0.14em;
    color: #555248;
}

.white-logo__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.357em;

    color: #ffffff;
}

.white-logo {
    padding-left: 25px;
    position: relative;
}

.white-logo__img {
    position: absolute;
    left: 0;
    bottom: 1px;
}
