.page__collection {
    margin-bottom: 75px;
}

.page__popular-models {
    margin-bottom: 30px;
}

.page__quality {
    margin-bottom: 80px;
}

.page__subscribe {
    margin-bottom: 88px;
}
